:root {
  --main-bg-color: #f5ba13;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  padding: 0 16px;
}

h1 {
  font-family: "McLaren", cursive;
  font-weight: 200;
}

header {
  background-color: var(--main-bg-color);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
}

.queryPanel {
  width: 80vw;
  margin: 50px auto;
}

.queryContent {
  display: flex;
  width: 100%;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 200px;
  height: 200px;
  margin: 16px;
  float: left;
  text-align: center;
  vertical-align: middle;
  display: flex;
}

.questions h1,
.result h1,
.choices h1,
.query h1 {
  margin: 50px;
  text-align: center
}

.card h1 {
  font-size: 1.1em;
  margin: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.buttonFrame h1 {
  margin: 0px;
  text-align: center
}

.buttonFrame {
  text-align: center;
}

button {
  background: var(--main-bg-color);
  color: black;
  border: none;
  border-radius: 7px;
  width: 200px;
  height: 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  margin: 40px auto;
}

button:hover {
  background-color: var(--main-bg-color);
  color: #fff;
}

.barContainer {
  margin: auto;
  width: 50%;
  height: 15px;
  background-color: #ccc;
  border-radius: 7px;
}

.bar {
  height: 100%;
  background-color: var(--main-bg-color);
  border-radius: 7px;
}

.sliderContainer {
  margin: auto;
  margin-top: 40px;
  width: 30%;
}

#questionRange {
  width: 100%;
}